body{
/*  max-width: 100vw;*/
}

.navbar{
  background-color: white !important;
  font-family: 'Raleway', sans-serif;
  padding: 20px 30px 10px 30px;
}

.navbar .navbar-brand {
  color: black;
  font-size: 20px;
}

.navbar .navbar-nav a {
    color: #777777;
}

.navbar .navbar-nav a:hover {
    color: black;
}

.homeImage{
  margin-top: 10px;
  height: 200px;
  overflow: hidden;
}
.homeImagePM{
  margin-top: 10px;
  height: 200px;
  overflow: hidden;
}

.homeImage a img{
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.homeImagePM a img{
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.HIbottom{
  margin-bottom: 20px;
}

.navbar-collapse .nav-link{
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.homeImage:hover .overlay {
  opacity: 0.85;
}

.text {
  color: black;
  font-family: 'Chivo', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.description{
  padding: 20px 0px 20px 0px;
}

.head{ 
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}

.sub{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 20px;
  color: #333333;
}

.subDescription{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 30px 0px 30px 0px;
}

#credits{
  margin-bottom: 30px;
}

#aboutPhoto{
  padding-left: 0px;
  padding-right: 0px;
}
.aboutSection{
  padding: 0px 30px 0px 30px;
}

.headAbout{
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  margin-top: 30px;
}

.subAbout{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
/*  padding-top: 20px;*/
  color: #333333;
}

.subDescriptionAbout{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.btn-outline-primary{
  font-family: 'Raleway', sans-serif;;
  font-weight: 200;
  text-transform: uppercase;
  color: #1280a8;
  border-color: #1280a8;
}

.btn-outline-primary:hover{
  color: white;
  background-color: #1280a8;
  border-color: #1280a8;
}

.aboutButtons{
/*  margin: 40px 0px 30px 0px;*/
}

.touchButton{
  margin-left: 50px;
}

.projectImages, .projectImagesEnd{
  margin-bottom: 40px;
}

#gitMark {
  margin: 40px 0px;
}

.gitlink{
  margin: 30px 0px 30px 0px;
}

.gitlink a{
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #6d7d97;
}

.navBottom{
  margin-bottom: 30px;
}

#navMargin{
  margin-left: 0px;
}

.navBottom a{
  font-family: 'Chivo', sans-serif;
  color: #e3e3e3;
  line-height: 1;
}

.navBottom a:hover{
  color: black;
}

.nav-link{
  padding-bottom: .04rem;
}

.navBottom .active{
  color: black;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .description{
    padding: 90px 70px 90px 70px;
  }
  .sub{
    padding: 20px 55px 0px 55px;
  }
  .subDescription{
  margin: 70px 60px 70px 60px;
}
  .projectImagesEnd{
  margin-bottom: 60px;
}
  .navBottom{
  margin-bottom: 50px;
}
  #gitMark{
    margin-top: 70px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .row{
  margin: 0px 5px 0px 5px;
}
  
  .navbar{
  padding: 30px 50px 10px 50px;
}

  .homeImage{
    height: 512px;
  }
  .homeImagePM{
    height: 512px;
  }
  .HIbottom{
  margin-bottom: 40px;
  }
  .description{
    padding: 120px 40px 120px 40px;
  }
  .sub{
    padding: 20px 55px 0px 55px;
  }
  .subDescription{
  margin: 70px 90px 90px 90px;
}
.projectImages, .projectImagesEnd{
  margin-bottom: 70px;
}
  #gitArt{
    margin: 30px 0px 0px 0px;
  }
  
  .gitlink{
  margin: 30px 0px 60px 0px;
}
  .gitlink a{
  font-size: 38px;
}
  .navBottom{
  margin-bottom: 80px;
}
  .aboutButtons{
  margin: 60px 0px 30px 0px;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar .navbar-brand{
    font-size: 24px;
  }
  .homeImage{
    height: 612px;
    overflow: hidden;
  }
  .homeImagePM{
    height: 612px;
    overflow: hidden;
  }
  .HIbottom{
  margin-bottom: 40px;
  }
  .homeImage a img{
    height: 100%;
    width: auto;
    left: 50%;
    -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  }
  .homeImagePM a img{
    height: 100%;
    width: auto;
    left: -100%;
    margin-right: 0px;
  }

  .workBody{
    margin-left: 50px;
    margin-right: 50px;
  }
  .aboutSection{
    padding-left: 60px;
    padding-right: 0px;
  }
  .description{
    padding: 120px 10px 120px 10px;
  }
  .head{
    padding: 0px 50px 0px 50px;
  }
  .subDescription{
    margin: 70px 140px 90px 140px;
}
  .projectImages, .projectImagesEnd{
    margin-bottom: 80px;
}
  .gitlink{
    margin: 30px 0px 70px 0px;
}
  .gitlink a{
    font-size: 30px;
}
  .aboutButtons{
    margin: 60px 0px 30px 0px;
    margin-left: 50%;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .homeImage{
    height: 612px;
  }
  
  .gitlink{
    margin: 30px 0px 90px 0px;
}
  .subDescription{
    font-size: 28px;
    margin: 60px 160px 90px 160px;
}
}